@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.title {
    font-size: 17px;
    color: #000000;
    text-shadow: 0px 2px 4px #ccc;
}

.image {
    border: 5px double #000000;
    border-radius: 20px;
}