@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container-fluid {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fafafa;
    box-shadow: 0 2px 7px #dfdfdf;
    padding: 1.5rem;
    text-align: center;
    margin: 0.7rem;
    cursor: pointer;
}

.card-title {
    color: #fbb72c;
    font-weight: 500;
}

.card-price {
    padding: 0.3em;
}

.card-text {
    font-size: 16px;
    color: black;
    line-height: 22px;
    text-shadow: 1px 1px 0px #dfdfdf;
}

.card i {
    font-size: 35px;
    display: block;
    padding: 0.3em;
    color: black;
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container i {
    font-size: 80px;
    color: orangered;
    margin: 1rem 0;
    transition: all 0.3s ease-in-out;
}

.number {
    font-size: 3rem;
    margin: 0.3em 0;
}

.title {
    font-size: 17px;
    color: #000000;
    text-shadow: 0px 2px 4px #ccc;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background: none;
    border: none;
    outline: none;
    font-family: inherit;
    border: 2px solid orangered;
    padding: 0.5rem 2rem;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 20px;
    margin: 0.9rem auto;
}

button {
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    color: #fff;
    background-color: orangered;
    font-size: 0.85rem;
    padding: 0.5rem 0.7rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}